#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.form{
  display: flex;
  flex-direction: column;
  margin: 20px;


}
.send-btn{
margin-top: 20px;
background: cadetblue;
}